<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HP.ImageAssistant.ImagePal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <runtime>
        <generatePublisherEvidence enabled="false" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions"
                    publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.1" newVersion="10.0.0.1" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection"
                    publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions"
                    publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions"
                    publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Identity.Client" publicKeyToken="0a613f4dd989e8ae"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.80.0.0" newVersion="4.80.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Abstractions"
                    publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-8.14.0.0" newVersion="8.14.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="Serilog" publicKeyToken="24c2f752a8e58a10"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Configuration.ConfigurationManager"
                    publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Diagnostics.DiagnosticSource"
                    publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe"
                    publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Security.Cryptography.ProtectedData"
                    publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.7" newVersion="10.0.0.7" />
            </dependentAssembly>
        </assemblyBinding>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51"
                    culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <HP.ImageAssistant.ImagePal.Properties.Settings>
            <setting name="AllowHPDotComAsTarget" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadFolder" serializeAs="String">
                <value>C:\Users\M78DA~1.SAL\AppData\Local\Temp\wuc-hpia-dl-RXDR70</value>
            </setting>
            <setting name="DownloadFolderAppendProductName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DownloadOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DownloadPass" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadURL" serializeAs="String">
                <value />
            </setting>
            <setting name="DownloadUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ForceUpdateAvailable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HPSign" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HTTPURL2" serializeAs="String">
                <value>https://hpia.hpcloud.hp.com/</value>
            </setting>
            <setting name="Lang" serializeAs="String">
                <value />
            </setting>
            <setting name="Log" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="LogonType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ManageUpdate" serializeAs="Xml">
                <value>
                    <ManageUpdateSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
                        <IsColMD5Visible>false</IsColMD5Visible>
                        <IsColInstallCmdVisible>false</IsColInstallCmdVisible>
                        <IsColProductVisible>true</IsColProductVisible>
                        <IsColSystemIDVisible>false</IsColSystemIDVisible>
                        <IsColDownloadedVisible>true</IsColDownloadedVisible>
                        <IsColCategoryVisible>true</IsColCategoryVisible>
                        <IsColVersionVisible>true</IsColVersionVisible>
                        <IsColVendorVisible>true</IsColVendorVisible>
                        <IsColReleaseTypeVisible>true</IsColReleaseTypeVisible>
                        <ColSizeVisibility>true</ColSizeVisibility>
                        <IsColReleaseDateVisible>true</IsColReleaseDateVisible>
                        <IsColSupportedOSVisible>true</IsColSupportedOSVisible>
                        <IsColInstallationNotesVisible>true</IsColInstallationNotesVisible>
                        <IsColDescriptionVisible>true</IsColDescriptionVisible>
                        <IsRowAdvisoriesVisible>true</IsRowAdvisoriesVisible>
                        <IsRowPrerequisitesVisible>true</IsRowPrerequisitesVisible>
                    </ManageUpdateSettings>
                </value>
            </setting>
            <setting name="MaxDownloadNum" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MyProductsList" serializeAs="Xml">
                <value>
                    <ArrayOfProductInfo xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="OfflineCDSRelativePath" serializeAs="String">
                <value>.repository\cache\offline\</value>
            </setting>
            <setting name="OfflineKBRelativePath" serializeAs="String">
                <value>.repository\cache\offline\kb\</value>
            </setting>
            <setting name="OfflinePlatformListRelativePath" serializeAs="String">
                <value>.repository\cache\offline\</value>
            </setting>
            <setting name="OfflineReferenceRelativePath" serializeAs="String">
                <value>.repository\cache\</value>
            </setting>
            <setting name="ProxyDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyOption" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ProxyPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyURL" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyUser" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ReportFolder" serializeAs="String">
                <value>C:\Users\M78DA~1.SAL\AppData\Local\Temp\wuc-hpia-report-xW9iT9</value>
            </setting>
            <setting name="ResultFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SkipBIOSSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartInSoftPaqView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UnpackFolder" serializeAs="String">
                <value>C:\HPIADownloads</value>
            </setting>
            <setting name="UnpackOption" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UseLocalKB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseLocalRef" serializeAs="String">
                <value>False</value>
            </setting>
        </HP.ImageAssistant.ImagePal.Properties.Settings>
    </userSettings>
</configuration>